@font-face {
  font-family: "Bemirs";
  src:
    url("/public/fonts/BemirsDemoVersionRegular-L360Z.ttf") format("truetype"),
    url("/public/fonts/BemirsDemoVersionRegular-X361d.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "BemirsDemoVersion", sans-serif;
}
